
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Calibri;
    }
    .user-p {
    text-align: center;
    padding-left: 10px;
    padding-top: 25px;
    }
    .user-p img {
    width: 210px;
    }
    .side-bar {
    width: 350px;
    background: aquamarine;
    min-height: 100vh;
    }
    .body {
    display: flex;
    }
    .section-1 {
    width: 100%;
    background: url("../assets//fondodashboard.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    }
    .section-1 h1 {
    color: #127b8e;
    font-family: Calibri;
    font-size: 60px;
    }
    .section-1 p {
    color: #127b8e;
    font-size: 25px;
    font-family: Calibri;
    background: aquamarine;
    padding: 7px;
    border-radius: 15px;
    }
    .side-bar ul {
    margin-top: 20px;
    list-style: none;
    }
    .side-bar ul li {
    font-size: 16px;
    padding: 15px 0px;
    padding-left: 20px;
    transition: 500ms background;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    }
    .side-bar ul li:hover {
    background: #127b8e;
    }
    .side-bar ul li a {
    text-decoration: none;
    color: black;
    cursor: pointer;
    letter-spacing: 1px;
    }
    .side-bar ul li a i{
    display: inline-block;
    padding-right: 5px;
    font-size: 23px;
    }