@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  width: 100%;
  height: 100vh;
<<<<<<< HEAD
  background: linear-gradient(
    45deg,
    hsl(240deg 100% 20%) 0%,
    hsl(184deg 100% 34%) 20%,
    hsl(178deg 100% 45%) 40%,
    hsl(185deg 90% 60%) 60%,
    hsl(216deg 94% 69%) 80%,
    hsl(271deg 100% 50%) 100%
  );
=======
  background-color: aquamarine;
>>>>>>> main
  font-family: "lato", sans-serif;
  font-weight: 300;
}

input:placeholder-shown {
  font-style: italic;
}

#container-login {
  -webkit-box-shadow: 4px 1px 19px -2px rgba(0, 0, 0, 0.91);
  box-shadow: 4px 1px 19px -2px rgba(0, 0, 0, 0.91);
}
