* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: aquamarine;
}
.container {
  width: 800px;
  padding: 30px;
  margin: auto;
  margin-top: 100px;
  margin-bottom: 50px;
  background-color: white;
  font-family: "Calibri";
  border-radius: 30px;
}
@media only screen and (max-width: 700px) {
  .container {
    width: 95%;
    margin-top: 5px;
    margin-bottom: 5px;
  }
}

.img {
  display: block;
  width: 60%;
  margin: auto;
  margin-bottom: -80px;
  margin-top: -110px;
}
@media only screen and (max-width: 700px) {
  .img {
    width: 95%;
    margin-top: -80px;
    margin-bottom: -60px;
  }
}

.container h1 {
  font-size: 33px;
  margin-bottom: 20px;
}
@media only screen and (max-width: 700px) {
  .container h1 {
    font-size: 25px;
    margin-bottom: 20px;
  }
}

.container h3 {
  font-size: 20px;
  margin-bottom: 20px;
}

.control {
  width: 4%;
  background-color: white;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 16px;
  border: 2px solid #48c4b2;
  font-family: "Calibri";
  font-size: 18px;
}

.controls {
  width: 100%;
  background-color: white;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 16px;
  border: 2px solid #48c4b2;
  font-family: "Calibri";
  font-size: 18px;
}

.selectm {
  width: 100%;
  background-color: white;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 16px;
  border: 2px solid #48c4b2;
  font-family: "Calibri";
  font-size: 16px;
}

.container .botons {
  width: 100%;
  background: #53aecc;
  border: none;
  border-radius: 10px;
  padding: 12px;
  color: white;
  margin: 16px 0;
  font-size: 16px;
}

nav li {
  /*con esto posiciono la nav*/
  display: inline;
  margin: 0 0 0 0px;
}

nav a {
  color: #1e14a7;
  font-weight: bold;
  font-size: 20px; /*aca modificas el tamaño de las letras de la nav*/
  text-decoration: none;
  font-family: "Calibri";
}
/* codigo Martin*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: arial, sans-serif;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
  background: #23242b;
  color: #fff;
}
.u-name {
  font-size: 20px;
  padding-left: 17px;
}
.u-name b {
  color: #127b8e;
}
.header i {
  font-size: 30px;
  cursor: pointer;
  color: #fff;
}
.header i:hover {
  color: #127b8e;
}
.user-p {
  text-align: center;
  padding-left: 10px;
  padding-top: 25px;
}
.user-p img {
  width: 180px;
  border-radius: 5%;
}

.side-bar {
  width: 300px;
  background: aquamarine;
  min-height: 100vh;
  transition: 500ms width;
}
.body {
  display: flex;
}
.section-1 {
  width: 100%;
  background: url("../assets/WhatsApp\ Image\ 2022-10-17\ at\ 01.12.47.jpeg");
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.section-1 h1 {
  color: #fff;
  font-size: 60px;
}
.section-1 p {
  color: #127b8e;
  font-size: 20px;
  background: #fff;
  padding: 7px;
  border-radius: 5px;
}
.side-bar ul {
  margin-top: 20px;
  list-style: none;
}
.side-bar ul li {
  font-size: 16px;
  padding: 15px 15px;
  padding-left: 0rem;
  transition: 500ms;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.side-bar ul li:hover {
  background: #127b8e;
}
.side-bar ul li a {
  text-decoration: none;
  color: black;
  cursor: pointer;
  letter-spacing: 1px;
}
.side-bar ul li a i {
  display: inline-block;
  padding-right: 5px;
  font-size: 23px;
}
