header {
    background-color: #3414a7;
 }

nav li {                          /*con esto posiciono la nav*/
    display: inline;
    margin: 0 0 0 0px;
   }


nav a {
    text-transform: uppercase;    
    color: #1e14a7;                     
    font-weight: bold;
    min-height: 40px;    /*Nueva modificación*/
    font-size: 20px;     /*aca modificas el tamaño de las letras de la nav*/
    text-decoration: none;
    font-family: "Calibri";
    

   }
   
   @media (max-width: 575.98px) {
    nav { 
          flex-direction: column;  /*responsive*/
          
   }
  }
/*se agrega a partir de aqui lo que proporciono la desarrolladora Mel*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  html {
    background-color: aquamarine;
  }
  