header {
  background-color: #3414a7;
}

nav li {
  /*con esto posiciono la nav*/
  display: inline;
  margin: 0 0 0 0px;
}

.container {
  font-family: "Calibri";
}
.container h1 {
  font-size: 33px;
  margin-bottom: 20px;
}
/*se agrega a partir de aqui lo que proporciono la desarrolladora Mel*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  background-color: aquamarine;
}
