* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.html {
  background-color: aquamarine;
}

.container {
  width: 800px;
  padding: 30px;
  margin: auto;
  margin-top: 100px;
  margin-block-end: 50px;
  background-color: white;
  font-family: "calibri";
  border-radius: 30px;
}

.img {
  display: block;
  width: 60%;
  margin: auto;
  margin-block-end: -80px;
  margin-top: -110px;
}

.container h1 {
  font-size: 33px;
  margin-bottom: 20px;
}

.container h3 {
  font-size: 20px;
  margin-bottom: 20px;
}

.control {
  width: 4%;
  background-color: white;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 16px;
  border: 2px solid #48c4b2;
}
